<html>
    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=11">
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>bisheng</title>
        
    </head>
    <body>
        <div id="app"></div>
        
        <script src="dist/demo.js"></script>
    </body>
</html>